* {
  font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
  background: #eee;
  color: #333;
  font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 50px;
  text-align: center;
}

#container {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 30%);
  margin: 0 auto;
  padding: 25px;
  min-height: 300px;
  width: 860px;
  height: 688px;
}