.templates {
  header {
    border-bottom: 1px solid #ddd;
    font-size: 28px;
    padding: 0 0 7px;
  }

  .group {
    display: flex;
    justify-content: start;
  }

  .large {
    width: 700px;
    height: 360px;
    margin: 25px auto;

    img {
      box-shadow: 0px 0px 6px rgb(0 0 0 / 30%);
      float: left;
    }

    .details {
      border-bottom: 1px solid #ddd;
      float: right;
      text-align: left;
      width: 250px;

      p {
        border-top: 1px solid #ddd;
        font-size: 12px;
        margin: 0;
        padding: 7px 0;
      }

      strong {
        background: #555;
        color: #fff;
        font-size: 10px;
        font-weight: normal;
        padding: 2px 5px;
        text-transform: uppercase;
      }
    }
  }

  .thumbnails {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    padding: 10px 45px;
    width: 660px;
    height: 160px;

    a {
      display: flex;
      flex-direction: column;
      color: #777;
      float: left;
      margin: 0 5px;
      position: relative;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }

    span {
      background: #eee;
      -moz-border-radius: 22px;
      -webkit-border-radius: 22px;
      border-radius: 22px;
      font-weight: bold;
      font-size: 12px;
      margin: 5px auto 0 auto;
      padding: 2px 15px;
    }

    img {
      border: 5px solid transparent;
      display: block;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }

    a:hover img {
      border-color: #eee;
    }

    a:hover span {
      background: #ddd;
    }

    .active img,
    .active:hover img {
      border-color: #a41d0f;
    }

    a.active span {
      background: #a41d0f;
      color: #fff;
    }

    .disabled {
      opacity: .2 !important;
      cursor: not-allowed;
    }

  }

  .next {
    right: 12px;
    float: none;
    height: 24px;
    position: absolute;
    top: 64px;
    width: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 1;
    }
  }

  .previous {
    left: 12px;
    float: none;
    height: 24px;
    position: absolute;
    top: 64px;
    width: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 1;
    }
  }
}